body {
  background: #136194;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.background-text {
  font-size: 20px;
}

.signup-text {
  font-size: 16px;
}

#map {
  height: 100%;
}
@media (min-width: 992px) {
  #map {
    margin-top: 25px;
  }
}

.leaflet-container {
  margin-bottom: 25px;
}

.btn-submit {
  background: #17B9D9;
  border-color: #17B9D9;
}

#mc_embed_signup {
  margin-top: 20px;
}

.legend {
  line-height: 18px;
  color: #555;
  background: #fff;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
}

.legend hr {
  width: 30px;
  height: 1px;
  float: left;
  margin-top: 6px !important;
  margin-bottom: 0 !important;
  margin-right: 8px;
  opacity: 0.7;
}